{% extends 'base.html.twig' %}

{% block title %}Détail du Job{% endblock %}

{% block body %}
    <h1>Détail du Job: {{ job.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Résumé</th>
                <td>{{ job.summary }}</td>
            </tr>
            <tr>
                <th>Détail</th>
                <td>{{ job.content }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ job.publishedAt ? job.publishedAt|date('d/m/y') : '' }}</td>
            </tr>
            <tr>
        </tbody>
    </table>
    <a href="{{ path('job_show', {slug: job.slug}) }}"><button type="submit" class="btn brows-btn" name="Postuler">Postulez à ce Job</button></a>

    <a href="{{ path('all_jobs') }}">Retour</a>
{% endblock %}
